<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <div class="container-fluid  ">
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <img [src]="logo" style="width: 60px; margin-left: 130px;">
          <li class="nav-item">
            <!-- <img src="/frontend/src/assets/Images/Logo.png"> -->
            
            <a  routerLink="home" style="margin-left: 20px;" class="nav-link active" aria-current="page" routerLinkActive="active" >Home</a>
          </li>
         
          <li  style="margin-left: 60px;"class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLinkActive="active">
              Employee
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a routerLink="users"   class="dropdown-item"  routerLinkActive="active">Employee List</a></li>
              <li><a routerLink="create-user"  class="dropdown-item" routerLinkActive="active">New Employee</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
            </ul>
          </li>
  
  
  
  
  
          <li style="margin-left: 15px;" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Project
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a routerLink="projects"   class="dropdown-item" routerLinkActive="active">Project List</a></li>
              <li><a routerLink="create-project"  class="dropdown-item" routerLinkActive="active">New Project</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
            </ul>
          </li>
  
  
  
  
          <li style="margin-left: 15px;" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Meeting
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a routerLink="meetings"   class="dropdown-item" routerLinkActive="active">Meeting List</a></li>
              <li><a routerLink="create-meeting"  class="dropdown-item" routerLinkActive="active">New Meeting</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
            </ul>
          </li>
  
  
  
          <li style="margin-left: 15px;" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Training
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a routerLink="trainings"   class="dropdown-item" routerLinkActive="active">Training List</a></li>
              <li><a routerLink="create-training"  class="dropdown-item" routerLinkActive="active">New Training</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
            </ul>
          </li>
  
  
          
          <li style="margin-left: 15px;" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Vacation
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a routerLink="vacations"   class="dropdown-item" routerLinkActive="active">Vacation List</a></li>
              <li><a routerLink="create-vacation"  class="dropdown-item" routerLinkActive="active">New Vacation</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
            </ul>
          </li>
  
        </ul>
  
  
        <div>
  
  
  
          
           <a routerLink="login"   class="dropdown-item sty" style="margin-left: 15px;" routerLinkActive="active">LogIn</a>
            
          
        </div>
        
      </div>
    </div>
  </nav>

  <router-outlet>


  </router-outlet>






  <div class="container">
   
    
    </div>
    
    <footer class="footer" style="margin-top:300px ; position: fixed;"> 
    
        <div class="container">
            <span> All right reserved 2022 @SmartDigiRH</span>
        </div>
    
    </footer>
    