.bg{

    flex-wrap: wrap;
    color: cornflowerblue;

    margin: 30px;
}
  

.position{
    margin-right: 50px;
flex-wrap: wrap;

margin-top: 6%;
text-align:justify;
font-size: 50px;
font-style: italic;
font-family: sans-serif;
color: cornflowerblue;


}

.body{



    margin-bottom: 50px; 
    border-color:darkgrey;
    box-shadow: 6px 3px; 
    border-radius: 20%; 
    border:2px
}