

.form-control {
    display: block;
    width: 90%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
   
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   padding-right: 5rem;
margin: 5px;
   margin-bottom: 20px;
}

.color-btn{
border-color:transparent ;
    height: 35px;
    border-radius: .375rem;
    background-color: rgba(26, 165, 26, 0.881);
    margin-left: 10px;
    color: white;
  
    
}


body{
    background:#f3f3f3;
    margin-top:20px;
    color: #616f80;
}
.card {
    width: 100%;
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}

.avatar-xs {
    height: 2.3rem;
    width: 2.3rem;
}