<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />




<div class="d-flex" style="margin-top: 50px; margin-left: 20px;">
    <h4 >Project List</h4>  
</div>


<!-- 
<table class="table table-striped">
    <thead class="table-footer bg-primary text-white"  >
        
    
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date </th>
            <th>Status</th>
            <th>Action</th>


        </tr>
    </thead>
    <tbody style="text-align: left">
        <tr *ngFor = "let project of projects | filter : title| filter : projectId | paginate: { itemsPerPage: perPage, currentPage: p }">
            <td>{{project.projectId}}</td>
            <td> {{project.title}}</td>
            <td> {{project.description}}</td>
            <td> {{project.startDate}}</td>
            <td> {{project.endDate}}</td>
            <td> {{project.status}}</td>
            <td>
                <button (click)="projectDetails(project.projectId)" class="btn btn-info">Details</button>
                <button (click)="updateProject(project.projectId)"  class="text-success button w-5"  data-toggle="tooltip" title=""  style="margin-left: 20px; background-color: transparent;" ><i class="fas fa-pencil-alt"></i> </button>
                <button (click)="deleteProject(project.projectId)" class="text-danger button w-5" data-toggle="tooltip" title="" style="margin-left: 5px; background-color: transparent; padding: 10px;"><i class="far fa-trash-alt"></i> </button>
            </td>
        </tr>
    </tbody>
</table> -->


    










    

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container"  >

    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-pattern">
                <div class="card-body">
                    <div class="float-right">
                        <i class="fa fa-archive text-primary h4 ml-3"></i>
                    </div>
                    <h5 class="font-size-20 mt-0 pt-1">24</h5>
                    <p class="text-muted mb-0">Total Projects</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-pattern">
                <div class="card-body">
                    <div class="float-right">
                        <i class="fa fa-th text-primary h4 ml-3"></i>
                    </div>
                    <h5 class="font-size-20 mt-0 pt-1">18</h5>
                    <p class="text-muted mb-0">Completed Projects</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-pattern">
                <div class="card-body">
                    <div class="float-right">
                        <i class="fa fa-file text-primary h4 ml-3"></i>
                    </div>
                    <h5 class="font-size-20 mt-0 pt-1">06</h5>
                    <p class="text-muted mb-0">Pending Projects</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    
                        <div class="form-group mb-0">
                            
                            <div class="input-group mb-0">
                                <div class="input-group-append">
                                    <input [(ngModel)]="title" [(ngModel)]="projectId" class="form-control me-6" type="search"   placeholder="Search" aria-label="Search" >

                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    
    </div>
    <!-- end row -->

    <div class="row" *ngFor = "let project of projects | filter : title| filter : projectId | paginate: { itemsPerPage: perPage, currentPage: p }">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body" style="width: 100%;">
                    <div class="table-responsive project-list">
                        <table class="table project-table table-centered table-nowrap">
                            <thead>
                                <tr>
                                    <th scope="col">Project Id</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">Team</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">{{project.projectId}}</th>
                                    <td>{{project.title}}</td>
                                    <td>{{project.description}}</td>
                                    <td>{{project.startDate}}</td>
                                    <td>{{project.endDate}}</td>
                                    <!-- <td>
                                        <span class="text-success font-12"><i class="mdi mdi-checkbox-blank-circle mr-1"></i> Completed</span>
                                    </td> -->
                                    <td>
                                        <div class="team">
                                            <a href="javascript: void(0);" class="team-member" data-toggle="tooltip" data-placement="top" title="" data-original-title="Roger Drake">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle avatar-xs" alt="" />
                                            </a>

                                            <a href="javascript: void(0);" class="team-member" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reggie James">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="rounded-circle avatar-xs" alt="" />
                                            </a>

                                            <a href="javascript: void(0);" class="team-member" data-toggle="tooltip" data-placement="top" title="" data-original-title="Gerald Mayberry">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar8.png" class="rounded-circle avatar-xs" alt="" />
                                            </a>

                                            <a href="javascript: void(0);" class="team-member" data-toggle="tooltip" data-placement="top" title="" data-original-title="Gerald Mayberry">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar8.png" class="rounded-circle avatar-xs" alt="" />
                                            </a>

                                            <a href="javascript: void(0);" class="team-member" data-toggle="tooltip" data-placement="top" title="" data-original-title="Gerald Mayberry">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar8.png" class="rounded-circle avatar-xs" alt="" />
                                            </a>

                                            <a href="javascript: void(0);" class="team-member" data-toggle="tooltip" data-placement="top" title="" data-original-title="Gerald Mayberry">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar8.png" class="rounded-circle avatar-xs" alt="" />
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="mb-0">{{project.status}}<span class="float-right"></span></p>

                                        <div class="progress mt-2" style="height: 5px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="action">
                                            <button (click)="projectDetails(project.projectId)" class="btn btn-info">Details</button>
                                            <button (click)="updateProject(project.projectId)"  class="text-success button w-5"  data-toggle="tooltip" title=""  style="margin-left: 20px; background-color: transparent;" ><i class="fas fa-pencil-alt"></i> </button>
                                            <button (click)="deleteProject(project.projectId)" class="text-danger button w-5" data-toggle="tooltip" title="" style="margin-left: 5px; background-color: transparent; padding: 10px;"><i class="far fa-trash-alt"></i> </button>
                                        </div>
                                    </td>
                                </tr>



                               
                            </tbody>
                        </table>
                    </div>
                    <!-- end project-list -->

                    
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>

<pagination-controls class="myPagination" (pageChange)="p = $event"></pagination-controls> 