<table class="table table-striped">

    <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Period</th>
            <th>Start Date</th>
            <th>End Date </th>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let vacation of vacations">
            <td>{{vacation.vacationId}}</td>
            <td> {{vacation.type}}</td>
            <td> {{vacation.period}}</td>
            <td> {{vacation.startDate}}</td>
            <td> {{vacation.endDate}}</td>
           
            <td>
                <td><button (click)="vacationDetails(vacation.vacationId)" class="btn btn-info">Details</button>
                <button (click)="updateVacation(vacation.vacationId)" class="btn btn-success" style="margin-left: 10px">Update</button>
                <button (click)="deleteVacation(vacation.vacationId)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
