<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <img [src]="logo" style="width: 60px; margin-left: 130px;">
        <li class="nav-item">
          <!-- <img src="/frontend/src/assets/Images/Logo.png"> -->
          
          <a  style="margin-left: 20px;" class="nav-link active" aria-current="page" href="#" >Home</a>
        </li>
       
        <li  style="margin-left: 60px;"class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Employee
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a routerLink="users"   class="dropdown-item" >Employee List</a></li>
            <li><a routerLink="create-user"  class="dropdown-item">New Employee</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
          </ul>
        </li>





        <li style="margin-left: 15px;" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Project
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a routerLink="projects"   class="dropdown-item" >Project List</a></li>
            <li><a routerLink="create-project"  class="dropdown-item">New Project</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
          </ul>
        </li>




        <li style="margin-left: 15px;" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Meeting
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a routerLink="meetings"   class="dropdown-item" >Meeting List</a></li>
            <li><a routerLink="create-meeting"  class="dropdown-item">New Meeting</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
          </ul>
        </li>



        <li style="margin-left: 15px;" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Training
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a routerLink="trainings"   class="dropdown-item" >Training List</a></li>
            <li><a routerLink="create-training"  class="dropdown-item">New Training</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
          </ul>
        </li>


        
        <li style="margin-left: 15px;" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Vacation
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a routerLink="vacations"   class="dropdown-item" >Vacation List</a></li>
            <li><a routerLink="create-vacation"  class="dropdown-item">New Vacation</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
          </ul>
        </li>

      </ul>


      
    </div>
  </div>
</nav>


<div class="container">
<router-outlet></router-outlet>

</div>

<footer class="footer"> 

    <div class="container">
        <span> All right reserved 2022 @SmartDigiRH</span>
    </div>

</footer>





<!-- <li class="nav-item">
  <a routerLink="users" routerLinkActive="active" class="nav-link" style="margin-left: 100px;">Employee List</a>
</li> -->