<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />




<h3>Training List</h3>



 <form class="d-flex">
     <input class="form-control me-6" type="search"   placeholder="Search" aria-label="Search">
     <button class="search"  class="color-btn" type="submit">Search</button>
   </form>

<table class="table table-striped">
    <thead class="table-footer bg-primary text-white" style="text-align: center" >
    
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Type </th>
            <th>Description</th>
            <th>Strat Date</th>
            <th>End Date</th>
            <th>Is Active</th>
            <th>Action</th>
            


        </tr>
    </thead>
    <tbody style="text-align: center">
        <tr *ngFor = "let training of trainings">
            <td>{{training.trainingId}}</td>
            <td>{{training.title}}</td>
            <td> {{training.type}}</td>
            <td> {{training.description}}</td>
            <td> {{training.startDate}}</td>
            <td> {{training.endDate}}</td>
            <td> {{training.active}}</td>
           
            <div class="d-flex gap-2 pt-4">
            <td>
                <td><button (click)="trainingDetails(training.trainingId)" class="btn btn-info">Details</button>
                <button (click)="updateTraining(training.trainingId)"  class="text-success button w-5"  data-toggle="tooltip" title=""  style="margin-left: 20px; background-color: transparent;" ><i class="fas fa-pencil-alt"></i> </button>
                <button (click)="deleteTraining(training.trainingId)"  class="text-danger button w-5" data-toggle="tooltip" title="" style="margin-left: 5px; background-color: transparent; padding: 10px;"><i class="far fa-trash-alt"></i> </button>
            </td>
        </div>
        </tr>
    </tbody>
</table>